@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.movie-container {
    margin: 20px 0;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

.seat {
    background-color: lightgreen;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selected {
    background-color: red;
}

.seat.sold {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.row {
    display: flex;
}

.screen {
    background-color: lightgray;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}