@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.movie-container {
    margin: 20px 0;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

.seat {
    background-color: black;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.screenName p {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    letter-spacing: 10px;
}
.inputLabel{
    font-family: 'Montserrat', helvetica, arial, sans-serif;
}

.deselect {
    background-color: black;
}

.selected {
    background-color: darkred;
}

.seat.sold {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.row {
    display: flex;
}

.screen {
    /*background-color: lightgray;*/
    /*height: 120px;*/
    /*width: 100%;*/
    /*margin: 15px 0;*/
    /*transform: rotateX(-48deg);*/
    /*box-shadow: 0 3px 10px rgba(9, 70, 30, 0.7);*/
    /*background-image: linear-gradient(to right, darkgray , lightgray);*/
    border-top: 70px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 400px;
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}

.movie_card{
    /*padding: 0 !important;*/
    width: 100%;
    margin:14px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}


