<div>
    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">C I N E V E R S E</h1>
                    <p class="lead text-muted mb-0 text-center">EXPLORE THE UNIVERSE OF CINEMA</p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="/img/about-us1.png" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Book a ticket from your home</h2>
                    <p class="font-italic text-muted mb-4">Welcome to Cineverse, your number one web application for online booking movie tickets.<br/> Founded in 2022 by Zagorka Jovanova, Cineverse's main goal is for you to be able to easily book tickets for your favorite movies and shows with just a few clicks.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/img/about-us2.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 px-5 mx-auto"><img src="/img/about-us3.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6">
                    <h2 class="font-weight-light">Enjoy new movies every week</h2>
                    <p class="font-italic text-muted mb-4">Buy ticket for you and your loved ones and
                        we hope you enjoy our service as much as we enjoy offering it to you.<br/>If you have any questions or comments, please don't hesitate to contact us.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Meet the person that works on this project</h2>
                    <p class="font-italic text-muted mb-4">Zagorka Jovanova, 21<br/>Student at Faculty of Computer Science and Engineering - Skopje<br/>jovanovazagorka@outlook.com</p>
                    <div>
                        <a href="https://www.facebook.com/zagorka.jovanova"><img src="/img/facebook-logo.png" style="width: 30px; padding-right: 5px"></a>
                        <a href="https://www.instagram.com/zzagorka/"><img src="/img/instagram.png" style="width: 30px; padding-right: 5px"></a>
                        <a href="https://www.linkedin.com/in/zagorka-jovanova-45854020b/"><img src="/img/linkedin.png" style="width: 30px; padding-right: 5px"></a>
                        <a href="#"><img src="/img/whatsapp.png" style="width: 30px; padding-right: 5px"></a>
                    </div>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img style="border-radius: 50%" src="img/zagorka.jpg" alt="" class="img-fluid mb-4 mb-lg-0 member"></div>
            </div>
        </div>
    </div>
</div>