<div>
    <div class="form-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-container">
                        <h3 class="title">Add new movie</h3>
                        <form action="/movies/add" method="POST" class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Movie Title</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Title"
                                       name="title"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Genre</label>
                                <select class="form-control" name="genre" required>
                                    <option>Fantasy</option>
                                    <option>Action</option>
                                    <option>Romance</option>
                                    <option>Horror</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Director</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Director"
                                       name="director"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Writer</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Writer"
                                       name="writer"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date"
                                       class="form-control"
                                       placeholder="Date"
                                       name="date"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Duration</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="1h 50m"
                                       name="duration"
                                       required>
                            </div>
                            <div class="form-group" style="display: block; width: 100%">
                                <label>Poster URL</label>
                                <input type="file"
                                       class="form-control"
                                       placeholder="Poster URL"
                                       name="posterUrl">
                            </div>
                            <div class="form-group">
                                <label>Ticket Price</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="$10"
                                       name="price"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Trailer URL</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Trailer URL"
                                       name="trailerUrl">
                            </div>
                            <h4 class="sub-title">Description</h4>
                            <div style="padding-bottom: 5px">
                                <textarea class="form-control"
                                          placeholder="Movie description here..."
                                          rows="3"
                                          name="description"
                                          required></textarea>
                            </div>

                            <br/><button class="btn btn-dark" style="color: white">Add Movie</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>