<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!--    upcoming movies carousel-->
    <div class="upcomingMoviesCarousel">
        <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselHomePage" data-slide-to="0" class="active"></li>
                <li data-target="#carouselHomePage" data-slide-to="1"></li>
                <li data-target="#carouselHomePage" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" id="carouselVideos">
                <div class="carousel-item active">
                    <div class="row">
                        <video class="video-fluid d-block w-100" autoplay loop muted>
                            <source src="video/shazam_cut.mp4" type="video/mp4"/>
                        </video>
                        <div class="overlay">
                            <p class="display-4 p-over-video pl-4 movieTitle" style="font-family: Perpetua,serif;">Shazam</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <video class="video-fluid d-block w-100" autoplay loop muted>
                            <source src="video/godzila_cut.mp4" type="video/mp4"/>
                        </video>
                        <div class="overlay">
                            <p class="display-4 p-over-video pl-4 movieTitle" style="font-family: Perpetua,serif;">Godzilla vs Kong</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <video class="video-fluid d-block w-100" autoplay loop muted>
                            <source src="video/baby_boss_cut.mp4" type="video/mp4"/>
                        </video>
                        <div class="overlay">
                            <p class="display-4 p-over-video pl-4 movieTitle" style="font-family: Perpetua,serif;">The Baby Boss</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselHomePage" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHomePage" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br/><br/>

    <!--    top movies -->
    <div class="container">
        <h3 class='text-center top'>
            <span class="topMoviesHeader" style="font-family: Perpetua,serif;">T O P</span>
            <span><i class="fa fa-ticket" style="width: 30px"></i></span>
            <span class="topMoviesHeader" style="font-family: Perpetua,serif;">M O V I E S</span>
        </h3>
    </div>

    <div id="top_movies" class="d-flex justify-content-between">
        <div class="card movie_card" th:each="movie : ${topMovies}">
            <a th:href="'/movie/' + ${movie.getMovieId()}">
                                <img th:src="${movie.getPoster().getImageUrl()}" class="card-img-top" alt="...">
            </a>
        </div>
    </div>
</div>




