<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container" style="margin-top: 10px">
        <h2><p class="target" style="font-size: 0.7rem">EXCELLENT CHOICE-BOOK YOUR TICKET FAST AND EASY</p></h2>
    </div>

    <div class="container" style="margin-top: -15px;">
        <div class="movie_card" id="bright">
            <div class="info_section d-flex justify-content-center">
                <div class="row">
                    <div class="col" style="position: relative">
                        <div class="movie_header">
                            <h1><th:block th:text="${movie.getTitle()}"></th:block></h1>
                            <h4><th:block th:text="${movieYear}"></th:block>, <th:block th:text="${movie.getDirector()}"></th:block></h4>
                            <span class="minutes"><th:block th:text="${movieHours}"></th:block> <th:block th:text="${movieMins}"></th:block></span>
                            <p class="type"><th:block th:text="${movie.getGenre()}"></th:block></p>
                            <a id="addToFavorites" href="#" sec:authorize="hasRole('ROLE_USER')"><img style="width: 30px; padding-left: 5px;" src="/img/like.png"/></a>
                        </div>
                        <div class="movie_desc">
                            <p class="text"><th:block th:text="${movie.getDescription()}"></th:block></p>
                        </div>
                        <div class="stars">
                            <ul>
                                <li>Stars: </li>
                                <li th:each="actor : ${actors}">
                                    <th:block th:text="${actor.getName()}"></th:block> <th:block th:text=" ${actor.getSurname()} "></th:block> |
                                </li>
                            </ul>
                        </div>
                        <div class="movie_social" style="position: absolute; bottom: 0">
                            <ul>
                                <li><a th:href="'/movie/' + ${movie.getMovieId()} + '/seats'">Book ticket</a></li>
                                <li><a th:href="'/movie/' + ${movie.getMovieId()} + '/trailer'">Watch trailer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="movie_header">
                            <img class="locandina" th:src="${movie.getPoster().getImageUrl()}"/>
                        </div>
                        <div class="price text-left" style="margin-top: 180px; font-size: 15px">
                            <p><span class="priceTitle">Showtime: </span> <th:block th:text="${movie.getShowtime()}"></th:block></p>
                            <p><span class="priceTitle">Price: </span> $<th:block th:text="${movie.getTicketPrice()}"></th:block></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blur_back bright_back"></div>
        </div>
    </div>
</div>
