<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container">
        <h2><p class="target" style="font-size: 0.7rem">NEW MOVIES EVERY WEEK</p></h2>
    </div>


    <!--   fantasy movies carousel-->
    <div class="container movieCarousel"
         style="padding: 10px 60px 10px 60px; border-radius: 10px; box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);">
        <header>
            <h4>Fantasy/Comedy</h4>
        </header>
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,4,5" data-slide="1" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item" th:each="movie : ${fantasyMovies}">
                        <a th:href="'/movie/' + ${movie.getMovieId()}">
                            <div class="pad15">
                                <img style="width: 150px" th:src="(${movie.getPoster().getImageUrl()})">
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>
    </div>


    <!--   action movies carousel-->
    <div class="container movieCarousel"
         style="padding: 10px 60px 10px 60px; border-radius: 10px; box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);">
        <header>
            <h4>Action</h4>
        </header>
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,4,5" data-slide="1" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item" th:each="movie : ${actionMovies}">
                        <a th:href="'/movie/' + ${movie.getMovieId()}">
                            <div class="pad15">
                                <img style="width: 150px" th:src="${movie.getPoster().getImageUrl()}">
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>
    </div>

    <!--   romance movies carousel-->
    <div class="container movieCarousel"
         style="padding: 10px 60px 10px 60px; border-radius: 10px; box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);">
        <header>
            <h4>Romance</h4>
        </header>
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,4,5" data-slide="1" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item" th:each="movie : ${romanceMovies}">
                        <a th:href="'/movie/' + ${movie.getMovieId()}">
                            <div class="pad15">
                                <img style="width: 150px" th:src="${movie.getPoster().getImageUrl()}">
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>
    </div>

    <!--   horror movies carousel-->
    <div class="container movieCarousel"
         style="padding: 10px 60px 10px 60px; border-radius: 10px; box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);">
        <header>
            <h4>Horror</h4>
        </header>
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,4,5" data-slide="1" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item" th:each="movie : ${horrorMovies}">
                        <a th:href="'/movie/' + ${movie.getMovieId()}">
                            <div class="pad15">
                                <img style="width: 150px" th:src="${movie.getPoster().getImageUrl()}">
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>
    </div>

    <div class="container text-right" id="removeMovieButton">
        <a href="/remove" class="btn btn-dark">Remove movie</a>
    </div>

    <div class="container text-right" id="addMovieButton">
        <a href="/movies/add-movie" class="btn btn-dark">Add new movie</a>
    </div>

</div>