<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="form-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-container justify-content-center">
                        <h3 class="title">Choose a movie to remove:</h3>
                        <form th:action="@{'/remove/movie'}" th:method="post" class="form-horizontal">
                            <div class="form-group">
                                <label>Movie title</label>
                                <select class="form-control" name="id" required>
                                    <option th:each="movie: ${movies}" th:text="${movie.getTitle()}" th:value="${movie.getMovieId()}"></option>
                                </select>
                            </div>

                            <br/><button class="btn btn-block">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>