<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cineverse - Seats</title>
    <link rel="stylesheet" th:href="@{'~/css/{style}' (style=${style1})}">
</head>
<body>
<ul class="showcase">

</ul>
<div class="container">
    <div class="screen"></div>

    <div class="row" value="A">
        <div>A</div>
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
    </div>

    <div class="row" value="B">
        <div>B</div>
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
    </div>
    <div class="row" value="C">
        <div>C</div>
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
    </div>
    <div class="row" value="D">
        <div>D</div>
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
    </div>
    <div class="row" value="E">
        <div>E</div>
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
    </div>
    <div class="row" value="F">
        <div>F</div>
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
        <input type="checkbox" class="seat">
    </div>
</div>

<p class="text">
    You have selected <span id="count">0</span> seat for a price of RS.<span
        id="total">0</span>
</p>

</body>
</html>