<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container d-flex justify-content-center">
        <iframe width="688" height="387" th:src="${movie.getTrailerUrl()}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                style="margin-bottom: 10px; margin-top: 30px">
        </iframe>
    </div>

    <div class="container text-center" id="addMovieButton" style="margin-bottom: 10px">
        <a th:href="'/movie/' + ${movie.getMovieId()}" class="btn btn-dark" style="color: white">Back</a>
    </div>
</div>